*
  margin: 0
  padding: 0
  
*, *::before, *::after
  box-sizing: inherit

html 
  box-sizing: border-box
  font-size: 62.5%
  scroll-behavior: smooth

body 
  font-family: 'PT Sans Caption', sans-serif
  font-weight: 400
  line-height: 1.6

ul
  list-style: none
a
  text-decoration: none
  color: #420305
  font-weight: 500

a:hover 
  background-color: #00B255