.tab
  overflow: hidden
  border: .1rem solid $shadow-color
  background-color: $shadow-color
  .tablinks
    font-size: 18px
    font-weight: 700
  button
    background-color: inherit
    float: left
    border: none
    outline: none
    cursor: pointer
    padding: 1.4rem 1.6rem
    transition: 0.3s
    &:hover
      background-color: $hover-color
    &.active
      background-color: $secondary-color
.tabcontent
  display: none
  padding: .6rem 1.2rem
  border: .1rem solid $shadow-color
  border-top: none