$primary-color: #5C6456
$secondary-color: #5A6557
$shadow-color: #888
$hover-color:#00B255
$default-color: white 
@import "base"
@import "header"
@import "sections"
@import "cv"
@import "footer"










    