#about-me
    %h2 About Me
    .container
        .text 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quod nemo, distinctio amet, accusamus delectus excepturi illum quasi est iste et ipsam nostrum ratione vel expedita nulla odio neque ullam! 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quod nemo, distinctio amet, accusamus delectus excepturi illum quasi est iste et ipsam nostrum ratione vel expedita nulla odio neque ullam! 

        %img{src: "./images/my-picture.jpg"}/
