.about-me
    .text 
        %p - I have currently enrolled in Full Stack Web Developer Bootcamp at Craft Academy. Before that I had beed teching myself web development on online for one year. I joined Craft Academy to fulfill my dream to become a junior Full Stack web developer.
        
        %p - Before moving into software development, I completed master degree in Industrial Engineering. I also worked as an Industrial Engineer in a manufacturing company. But my love for coding helped me to change my career.
        
        %p - Apart from coding I enjoy playing football and cricket. I also very passionate about travling and meeting new people.

    %img{src: "./images/my-picture.jpg"}/
