.tab
    %button.tablinks.london#defaultOpen London
    %button.tablinks.paris Paris
    %button.tablinks.tokyo Tokyo
/ Tab content
#London.tabcontent
    %h3 London
    %p London is the capital city of England.
#Paris.tabcontent
    %h3 Paris
    %p Paris is the capital of France.
#Tokyo.tabcontent
    %h3 Tokyo
    %p Tokyo is the capital of Japan.