%ul 
    %li 
        %a.fa.fa-facebook{:href => "https://www.facebook.com/shahin.patowary.1"}
    %li 
        %a.fa.fa-linkedin{:href => "https://www.linkedin.com/in/md-shahin-patowary-1a0b3069/"}
    %li 
        %a.fa.fa-twitter{:href => "https://twitter.com/?lang=en"}
    %li 
        %a.fa.fa-instagram{:href => "https://www.instagram.com/shahin1231/"}
