%ul 
    %li 
        %a.fa.fa-facebook{:href => "#"}
    %li 
        %a.fa.fa-linkedin{:href => "#"}
    %li 
        %a.fa.fa-twitter{:href => "#"}
    %li 
        %a.fa.fa-instagram{:href => "#"}
