%section#contact-form
  %form{:method => "POST", :name => "contact", :netlify => ""}
    %label{:for => "name"}
    %p Your Name:
    %input{:name => "name", :type => "text", :id => "name", :placeholder => "Your name"}/

    %label{:for => "email"}
    %p Your Email:
    %input{:name => "email", :type => "email", :id => "email", :placeholder => "Your Email"}/

    %label{:for => "message"}
    %p Message:
    %textarea{:name => "message", :id => "message", :placeholder => "Your message"}

    %button{:type => "submit"} Send

