%form{:method => "POST", :name => "contact", :netlify => ""}
  %p
    %label
      Your Name:
      %input{:name => "name", :type => "text"}/
  %p
    %label
      Your Email:
      %input{:name => "email", :type => "email"}/
  %p
    %label
      Your Role:
      %select{:multiple => "multiple", :name => "role[]"}
        %option{:value => "leader"} Leader
        %option{:value => "follower"} Follower
  %p
    %label
      Message:
      %textarea{:name => "message"}
  %p
    %button{:type => "submit"} Send
