.nav-bar 
    %ul 
        %li 
            %a{href: "#"} Home
        %li 
            %a{href: "#about-me"} About
        %li 
            %a{href: "#projects"} Projects
        %li 
            %a{href: "#contact-me"} Contact